

form * {
    /*display: block;*/
    width: 80%;
    margin: 10px;
    padding: 5px;
}

form textarea {
    height: 300px;
}

form button {
    width: 30%;
}

form #reset, #add {
    width: 30%;
}

form {
    /*margin-left: 300px;*/
    text-align: center;
}
