form * {
    /*display: block;*/
    margin: 10px;
    padding: 5px;
}

form input {
    width: 60%;
}

form label {
    display: inline-block;
    width: 17%;
    text-align: right;
}

form textarea {
    height: 100px;
    width: 60%;
}

form button {
    width: 30%;
}

form #reset, #add {
    width: 30%;
}

form {
    /*margin-left: 300px;*/
    text-align: center;
}

@media screen and (max-width: 600px) {
    form label {
        display: none;
    }

    form input {
        width: 70%;
    }

    form textarea {
        width: 70%;
    }
}
