main li {
    border-radius: 5px;
    box-shadow: 0px 0px 5px gray;
    float: left;
    padding: 30px;
    margin: 30px;
    width: 15%;
    height: 170px;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
    color: white;
}

main li a {
    color: white;
    display: block;
}

main li:hover {
    box-shadow: 0px 0px 20px black;
}

main li p {
    margin-top: 10px;
    word-break: break-all;
}

main li span {
    font-size: 80%;
}

main h3 {
    font-size: 140%;
}

@media screen and (max-width: 600px) {
    main li {
        float: none;
        width: auto;
        height: auto;
    }
}
