html {
    height: 100%;
}

header {
    background: none;
}

body {
    background-image: url('../img/mike-kotsch-204198.jpg');
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    /*position: absolute;*/
}

main {
    background: none;
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: -150px;
    margin-left: 30%;
    margin-right: 30%;
    padding: 50px;
    border-radius: 20px;
}

main form label {
    text-align: right;
    color: white;
    /*width: 30%;*/
}

main form input {
    width: 30%;
}

main form button {
    width: 100px;
    padding: 10px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 100%;
    cursor: pointer;
}

main form button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

main form {
    text-align: center;
}

main form * {
    font-size: 120%;
    display: inline-block;
    padding: 5px;
    margin: 10px;
}

#whole {
    height: 100%;
}

footer {
    color: rgba(255, 255, 255, 0.8);
    background: none;
    text-align: left;
    padding: 10px;
    margin-top: -40px;
}

@media screen and (max-width: 1400px) {
    main {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media screen and (max-width: 600px) {
    main {
        margin-top: 0px;
        margin-left: 10px;
        margin-right: 10px;
        /*padding: 10px;*/
        padding-left: 10px;
        padding-right: 10px;
    }
    main form input {
        width: 55%;
    }
    footer {
        margin-top: -100px;
    }
}
