table {
    border-collapse: collapse;
    margin: auto;
}

table * {
    padding: 10px;
}

table tr:first-child {
    background-color: #607d8b;
    color: white;
}

colgroup {
    background-color: rgba(96, 125, 139, 0.3);
}

.tdbutton:hover {
    background-color: rgba(96, 125, 139, 0.8);
    color: white;
    cursor: pointer;
}

.normal {
    color: #607d8b;
    background-color: white;
}

.delete {
    color: red;
}

.delete:hover {
    background-color: rgba(255, 0, 0, 0.8);
}

main {
    text-align: center;
}

main button {
    width: 100px;
    padding: 10px;
    margin: 10px;
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 100%;
    cursor: pointer;
}

main button:hover {
    background-color: rgba(255, 0, 0, 1);
}
